p2{ 
    color: #7e088d;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    }



.settings_toggle_button{
    padding: 100px;
    display:block;
    background-color: rgb(78, 155, 53); 
   
}

.Profile-options1{
    color: #7e088d;
}

.Profile-options2{
    color: #7e088d;
}